/* 
custom properties
reset
utilities & reused styles
header
hero
featured section
curated collections
categories
trending
resources and getting started
footer
*/

/* ================================= */
/*      custom properties */
/* ================================= */
:root {
  /* font-family*/
  --ff-inter: "Inter", sans-serif;

  /* font size */
  --fs-h1: 58px;
  --fs-h2: 44px;
  --fs-h3: 28px;
  --fs-h4: 22px;
  --fs-h5: 18px;
  --fs-body: 16px;
  --fs-small: 14px;
  --fs-xs: 12px;

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* lineheight */
  --lh-1: 84px;
  --lh-2: 64px;
  --lh-3: 40px;
  --lh-4: 32px;
  --lh-5: 24px;
  --lh-6: 16px;
  --lh-7: 14px;
  --lh-8: 12px;

  /* colors */
  --clr-blue-ryb: #0052ff;
  --clr-neon-blue: #4a6dff;
  --clr-rick-black: #0a0b0d;
  --clr-black-coral: #5b616e;
  --clr-silver-chalice: #afb2b5;
  --clr-white: #ffffff;
  --clr-ghost-white: #f5f8ff;
  --clr-gainsboro: #dedfe2;
  --clr-sea-green: #098551;
  --clr-amaranth-red: #cf202f;

  /* transition */
  --transition-1: 100ms;
  --transition-2: 200ms ease-in-out;
}

/* ================================= */
/*     reset */
/* =================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  outline: none;
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-inter);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  line-height: var(--lh-5);
  overflow-x: hidden;
}

/* ================================= */
/*     utilities & reused styles */
/* ================================= */

.container {
  width: 80%;
  margin-inline: auto;
}

.input {
  padding: 12px 24px;
  border-radius: 24px;
}

input::placeholder {
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-6);
}

.btn {
  padding: 12px 24px;
  border-radius: 24px;
  min-width: 160px;
  transition: var(--transition-2);
}

.btn:hover {
  transform: scale(1.05);
}

.btn.btn-white {
  background: var(--clr-white);
  color: var(--clr-blue-ryb);
}

.btn.btn-blue {
  background: var(--clr-blue-ryb);
  color: var(--clr-white);
}

.place-center {
  max-width: max-content;
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.hover-underline {
  position: relative;
  max-width: max-content;
  cursor: pointer;
}

.hover-underline::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  bottom: 0;
  opacity: 0;
  transform: scaleX(0.2);
  transition: var(--transition-2);
}

.hover-underline:is(:hover, :focus-visible)::before {
  opacity: 1;
  transform: scaleX(1);
}

h1 {
  color: var(--clr-white);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-1);
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-3);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-4);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.red {
  color: var(--clr-amaranth-red);
}

.green {
  color: var(--clr-sea-green);
}

/* ================================= */
/*           cards */
/* ================================= */

.card-container {
  display: flex;
  gap: 30px;
}

/*      card 1       */
/* ----------------- */
.card-1 {
  min-width: calc((100% - 2 * 30px) / 3);
  border-radius: 16px;
  border: 1px solid var(--Gainsboro, #dedfe2);
  overflow: hidden;
  background: var(--clr-white);
}

.card-1-banner > img {
  cursor: pointer;
  transition: var(--transition-2);
}

.card-1:hover .card-1-banner > img {
  transform: scale(1.05);
}

.card-1-content {
  padding: 24px;
}

.card-1-content :is(span, img) {
  display: inline;
}

.card-1-content span {
  font-weight: var(--fw-semibold);
  transition: var(--transition-1);
  cursor: pointer;
}

.card-1-content span:hover {
  color: var(--clr-blue-ryb);
}

.card-1-content img {
  width: unset;
  margin-bottom: -3px;
}

/*      card 2       */
/* ----------------- */
.card-2 {
  border-radius: 16px;
  border: 1px solid var(--Gainsboro, #dedfe2);
  background-color: var(--clr-white);
  overflow: hidden;
}

.card-2-banner img {
  aspect-ratio: 1.7/1;
  transition: var(--transition-2);
}

.card-2-banner:hover img {
  cursor: pointer;
  transform: scale(1.08);
}

.card-2 > h4 {
  margin-block: 24px;
}

/*      card 6       */
/* ----------------- */
.card-6 {
  min-width: calc((100% - 2 * 30px) / 3);
  padding: 32px;
  border-radius: 16px;
  background: var(--clr-white);
}

.card-6 img {
  height: 64px;
  width: 64px;
  margin-inline: auto;
  transition: var(--transition-2);
}

.card-6:hover img {
  transform: scale(1.2);
}

.card-6 > h4 {
  padding-block-start: 32px;
  padding-block-end: 16px;
}

/*      card10       */
/* ----------------- */
.card-10 {
  border-radius: 16px;
  border: 1px solid var(--Gainsboro, #dedfe2);
  background-color: var(--clr-white);
  overflow: hidden;
  cursor: pointer;
}

.card-10-banner {
  padding: 8px;
  padding-block-end: 0px;
}

.card-10-banner img {
  aspect-ratio: 2/1;
  border-radius: 8px;
  transition: 200ms ease-in-out;
}

.card-10:hover img {
  transform: scale(1.05);
}

.card-10-content {
  padding: 24px;
}

.card-10-content span {
  font-size: var(--fs-small);
  line-height: var(--lh-6);
  padding-block-start: 24px;
}

/*      card 11      */
/* ----------------- */
.card-11 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px;
  margin: 2px 0px;
  font-weight: var(--fw-semibold);
  border-bottom: 1px solid var(--Gainsboro, #dedfe2);
  background: white;
  cursor: pointer;
}

.card-11 .collection-image-container {
  position: relative;
}

.collection-image-container .collection-image {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.collection-image-container .verification-tick {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 18px;
  width: 18px;
}

.card-11 .collection-details p:nth-of-type(1) {
  margin-block-end: 12px;
  transition: var(--transition-2);
}

.card-11 .collection-details p:nth-of-type(1):hover {
  color: var(--clr-blue-ryb);
}

.card-11 .collection-details:last-child {
  margin-inline-start: auto;
  text-align: end;
}

.floor-price span {
  display: inline;
  font-weight: var(--fw-regular);
}

/* ================================= */
/*          header */
/* ================================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--clr-blue-ryb);
  font-size: var(--fs-small);
  padding-block: 24px;
  border-block-end: 1px solid #4a6dff;
  z-index: 99;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  color: var(--clr-white);
}

.nav-item:not(.nav-search) {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-item.nav-links {
  gap: 24px;
}

.nav-logo-container span {
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  line-height: var(--lh-3);
}

.nav-search {
  position: relative;
}

.nav-search .nav-search-icon {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  transform: translateY(-45%);
  left: 16px;
}

.nav-search > input {
  color: var(--clr-white);
  min-width: 380px;
  padding-inline-start: 40px;
  border: 1px solid #4a6dff;
}

.nav-search > input::placeholder {
  color: #728aff;
}

/* ================================= */
/*          hero */
/* ================================= */
.hero {
  background: #0051fff1;
  padding-block: 150px 330px;
}

.hero p {
  margin-block-start: 20px;
  max-width: 540px;
  color: #e9ebff;
}

.hero .btn-container {
  display: flex;
  gap: 16px;
  padding-block-start: 30px;
}

/* ================================= */
/*          featured */
/* ================================= */

.featured {
  margin-block-start: -250px;
}

/* ================================= */
/*          curated collections */
/* ================================= */

.curated-collection-section {
  margin-block-start: 60px;
}

.curated-collection-selector {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.curated-collection-selector select {
  max-width: max-content;
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-3);
  color: var(--clr-blue-ryb);
}

.curated-collection-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-block: 32px;
}

.list-right .card-11:last-child > p {
  margin-inline-start: -8px;
}

.curated-collection-section .btn {
  margin-inline: auto;
}

/* ================================= */
/*         categories */
/* ================================= */

.categeories h3 {
  margin-block-start: 64px;
  margin-block-end: 32px;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* ================================= */
/*         trending nfts */
/* ================================= */

.trending .container > h3 {
  margin-block-start: 64px;
  margin-block-end: 32px;
}

.trending .card-1:nth-of-type(2) .card-1-banner img {
  aspect-ratio: 1/1;
  object-position: top;
}

.trending .card-container {
  position: relative;
}

.card-container :is(.arrow-left, .arrow-right) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  padding: 8px;
  border: 1px solid var(--clr-gainsboro);
  border-radius: 50%;
  background: var(--clr-white);
  cursor: pointer;
}

.trending .card-container .arrow-left {
  left: 0;
  transform: translateX(-50%);
}

.trending .card-container .arrow-right {
  right: 0;
  transform: translateX(50%) rotateY(180deg);
}

/* ================================= */
/*          resources       */
/* ================================= */
.resources .container > h3 {
  margin-block-start: 64px;
  margin-block-end: 32px;
}

/* ================================= */
/*          footer     */
/* ================================= */

.footer {
  margin-block: 62px;
  background: var(--clr-white);
  border-top: 1px solid var(--clr-gainsboro);
}

.footer .footer-top {
  display: flex;
  padding-block: 64px;
  border-bottom: 2px solid var(--clr-gainsboro);
}

.footer-left,
.footer-right {
  min-width: 50%;
}

.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: max-content;
}

.footer-logo-container span {
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  line-height: var(--lh-3);
}

.footer-left p {
  font-size: var(--fs-h5);
  font-weight: var(--fw-semibold);
  padding-block-start: 32px;
  padding-block-end: 16px;
}

.footer-search {
  position: relative;
  max-width: 50%;
}

.footer-search > input {
  border: 1px solid var(--clr-gainsboro);
}

.footer-search .input::placeholder {
  color: var(--clr-silver-chalice);
}

.footer-search > img {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  padding: 8px;
  background: url(assets/images/Ellipse\ 4.svg);
  background-size: cover;
  cursor: pointer;
}

.footer-social-container {
  padding-block-start: 32px;
  padding-block-end: 64px;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer-social-container img {
  height: 32px;
  width: 32px;
  pointer-events: initial;
}

.footer-social-container img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.footer-right {
  padding-inline: 64px;
  display: flex;
  justify-content: space-between;
}

.footer-link:not(.footer-link:first-of-type) {
  color: var(--clr-black-coral);
  font-size: var(--fs-small);
  line-break: var(--lh-6);
  margin-block-end: 16px;
}

.footer-link:first-of-type {
  font-weight: var(--fw-semibold);
  margin-block-end: 24px;
}

.footer-bottom {
  color: var(--clr-silver-chalice);
  font-size: var(--fs-xs);
  line-height: var(--lh-6);
  margin-block-start: 16px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom > div {
  display: flex;
  gap: 32px;
}
