/* 
custom properties
reset
utilities & reused styles
header
hero
featured section
curated collections
*/

/* ================================= */
/*      custom properties */
/* ================================= */
:root {
  /* font-family*/
  --ff-inter: "Inter", sans-serif;

  /* font size */
  --fs-h1: 58px;
  --fs-h2: 44px;
  --fs-h3: 28px;
  --fs-h4: 22px;
  --fs-h5: 18px;
  --fs-body: 16px;
  --fs-small: 14px;
  --fs-xs: 12px;

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* lineheight */
  --lh-1: 84px;
  --lh-2: 64px;
  --lh-3: 40px;
  --lh-4: 32px;
  --lh-5: 24px;
  --lh-6: 16px;
  --lh-7: 14px;
  --lh-8: 12px;

  /* colors */
  --clr-blue-ryb: #0052ff;
  --clr-neon-blue: #4a6dff;
  --clr-rick-black: #0a0b0d;
  --clr-black-coral: #5b616e;
  --clr-silver-chalice: #afb2b5;
  --clr-white: #ffffff;
  --clr-ghost-white: #f5f8ff;
  --clr-gainsboro: #dedfe2;
  --clr-sea-green: #098551;
  --clr-amaranth-red: #cf202f;
}

/* ================================= */
/*     reset */
/* =================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  height: auto;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  outline: none;
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-inter);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  line-height: var(--lh-5);
  overflow-x: hidden;
}

/* ================================= */
/*     utilities & reused styles */
/* ================================= */

.container {
  width: 80%;
  margin-inline: auto;
}

.input {
  padding: 12px 24px 12px 12px;
  border-radius: 24px;
}

.btn {
  padding: 12px 24px;
  border-radius: 24px;
  min-width: 160px;
}

.btn.btn-white {
  background: var(--clr-white);
  color: var(--clr-blue-ryb);
}

.btn.btn-blue {
  background: var(--clr-blue-ryb);
  color: var(--clr-white);
}
/* 
.section {
  padding-block-start: 150px;
} */

.place-center {
  max-width: max-content;
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

h1 {
  color: var(--clr-white);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-1);
}
h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-3);
}
h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-4);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.red {
  color: var(--clr-amaranth-red);
}

.green {
  color: var(--clr-sea-green);
}

/* ================================= */
/*          header */
/* ================================= */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--clr-blue-ryb);
  font-size: var(--fs-small);
  padding-block: 24px;
  border-block-end: 1px solid #4a6dff;
  z-index: 99;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  color: var(--clr-white);
}

.nav-item:not(.nav-search) {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-item.nav-links {
  gap: 24px;
}

.nav-logo-container span {
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
  line-height: var(--lh-3);
}

.nav-search {
  position: relative;
}

.nav-search > img {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  transform: translateY(-45%);
  left: 16px;
}

.nav-search > input {
  color: var(--clr-white);
  min-width: 380px;
  padding-inline-start: 40px;
  border: 1px solid #4a6dff;
}

.nav-search > input::placeholder {
  color: #728aff;
  line-height: var(--lh-6);
}

/* ================================= */
/*          hero */
/* ================================= */
.hero {
  background: #0051fff1;
  padding-block: 150px 330px;
  padding-block-start: 150px;
}

.hero p {
  margin-block-start: 20px;
  max-width: 540px;
  color: #e9ebff;
}

.hero .btn-container {
  display: flex;
  gap: 16px;
  padding-block-start: 30px;
}

/* ================================= */
/*          featured */
/* ================================= */

.featured .container {
  display: flex;
  gap: 30px;
  margin-block-start: -250px;
}

.card-1 {
  min-width: calc((100% - 2 * 30px) / 3);
  border-radius: 16px;
  border: 1px solid var(--Gainsboro, #dedfe2);
  overflow: hidden;
}

.card-1-content {
  padding: 24px;
}

.card-1-content span {
  display: inline;
  font-weight: var(--fw-semibold);
}

.card-1-content img {
  width: unset;
  display: inline;
  margin-bottom: -3px;
}

/* ================================= */
/*          curated collections */
/* ================================= */

.curated-collection-section {
  margin-block-start: 60px;
}

.curated-collection-selector {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.curated-collection-selector select {
  max-width: max-content;
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-3);
  color: var(--clr-blue-ryb);
}

.curated-collection-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-block: 32px;
}

.card-11 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px;
  margin: 2px 0px;
  font-weight: var(--fw-semibold);
  border-bottom: 1px solid var(--Gainsboro, #dedfe2);
  background: white;
}

.collection-image-container {
  position: relative;
}

.card-11 .collection-image {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.card-11 .verification-tick {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 24px;
  width: 24px;
}

.card-11 .collection-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-11 .collection-details:last-child {
  margin-inline-start: auto;
  text-align: end;
}

.floor-price span {
  display: inline;
  font-weight: var(--fw-regular);
}

.curated-collection-section .btn {
  margin-inline: auto;
}

/* ================================= */
/*         categories */
/* ================================= */

.categeories h3 {
  margin-block-start: 64px;
  margin-block-end: 32px;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-2 {
  border-radius: 16px;
  border: 1px solid var(--Gainsboro, #dedfe2);
  background-color: var(--clr-white);
  overflow: hidden;
}

.card-2-banner img {
  aspect-ratio: 1.7/1;
}

.card-2 > h4 {
  padding-block: 24px;
}
